<div class="row pt-3 wd-auto">
    <div class="col pr-0">
        <form>
            First Name: <br> <input title="First Name" class="col-sm-12 pl-2 pr-0" type="text" name="FirstName"> <br>
            <small class="form-text text-muted">Max 30 characters.</small> <br>
            Last Name: <br> <input title="Last Name" class="col-sm-12 pl-0 pr-0" type="text" name="LastName"> <br>
            <small class="form-text text-muted">Max 30 characters.</small> <br>
            Credit Score: <br> <input title="Credit Score" class="col-sm-12 pl-0 pr-0" type="text" name="CreditScore"> <br>
            <small class="form-text text-muted">Numbers between 1 and 900.</small> <br>
            Annual Income: <br> <input title="Annual Income" class="col-sm-12 pl-0 pr-0" type="text" name="AnnualIncome">
            <br>
            <small class="form-text text-muted">Number greater than 0.</small> <br>
        </form>
        <app-button-component styling="btn-primary" title="Submit">Submit</app-button-component>
    </div>
    <div class="col">
        <app-product-component></app-product-component>
    </div>
</div>