    
<div>
<table class="table table-bordered">
    <tbody>
      <tr>
        <td colspan="2"><b>FHA Conventional</b>
            <p class="text-muted">20 years at %4.75</p>
            <app-button-component styling="btn-primary" title="Select Product">Select Product</app-button-component>
        </td>
            
        <td colspan="2"><b>VA Conventional</b>
            <p class="text-muted">15 years at %3.85</p>
            <app-button-component styling="btn-primary" title="Select Product">Select Product</app-button-component>
        </td>
      </tr>
      <tr>
        <td colspan="2"><b>FHA Variable ARM</b>
            <p class="text-muted">30 years at %3.99</p>
            <app-button-component styling="btn-primary" title="Select Product">Select Product</app-button-component>
        </td>
        <td colspan="2"><b>Fannie Mae HELOC</b>
            <p class="text-muted">30 years at %4.75</p>
            <app-button-component styling="btn-primary" title="Select Product">Select Product</app-button-component>
        </td>
      </tr>
      <tr>
        <td class="text-wrap" colspan="2" ><b>Freddie Mac Conventional</b>
            <p class="text-muted">30 years at %5.75</p>
            <app-button-component styling="btn-primary" title="Select Product">Select Product</app-button-component>
        </td>
        <td colspan="2"><b>VA ARM</b>
            <p class="text-muted">30 years at 4.05%</p>
            <app-button-component styling="btn-primary" title="Select Product">Select Product</app-button-component>
        </td>
      </tr>
    </tbody >
  </table>
  </div>