/* You can add global styles to this file, and also import other style files */

.some{
    color: dark;
}

.navfullwidth{
        width: 100%;
        white-space: nowrap;
}

.highlight{
   background-color: grey;
}

